<div class="page-login">

    <form class="form-login col-xs-5" ng-submit="login()">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" ng-model="user.name" id="Name" placeholder="Your Name">
            <p><small>test: admin, user</small></p>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" ng-model="user.password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>